body {
    background-color: #b7d5e5;
    
    justify-content: center;
    text-align: center;
}

/* Estilos de las fuentes - Agustina */
h1 {
    
    font-family: 'Viga', sans-serif;
}

h2, p {
    font-family: 'Poppins', sans-serif;
}

.image{
    border: 5px solid black;
    border-radius: 10px;
    height: 400px;
}

.image:hover{
    border: 5px solid black;
    border-radius: 10px;
    height: 550px;
}

#link-button {
    text-decoration: none;
    border: 1px solid rgb(26, 86, 216);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 3px #085ece;
}